/antlr-2.7.7.jar
/dom4j-1.6.1.jar
/hibernate-commons-annotations-4.0.2.Final.jar
/hibernate-core-4.2.7.Final.jar
/hibernate-entitymanager-4.2.0.sp1.jar
/hibernate-jpa-2.0-api-1.0.1.Final.jar
/javassist-3.18.1-GA.jar
/javax.faces-2.2.1.jar
/jboss-logging-3.1.0.GA.jar
/jboss-transaction-api_1.1_spec-1.0.1.Final.jar
/jstl-1.2.jar
/mysql-connector-java-5.1.27-bin.jar
